<div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
  <div class="row">
    <div class="col-sm-12 col-md-6"></div>
    <div class="col-sm-12 col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table id="datatables-dashboard-projects" class="table table-striped my-0 dataTable no-footer" role="grid" aria-describedby="datatables-dashboard-projects_info">
        <thead>
          <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Номер процедуры</th>
            <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Тендер</th>
           
            <th class="sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Дата</th>
            <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Статус</th>
          </tr>
        </thead>
        
        <tbody>
        <%= for tender <- @tenders do %>
          <tr role="row" class="odd">
            <td class="sorting_1"><%= tender.tender_id %></td>
            <td class="d-none d-xl-table-cell"><%= tender.tender_name %></td>
            <td class="d-none d-xl-table-cell"><%= tender.inserted_at %></td>
            <td><span class="badge badge-success">Done</span></td>
            
          </tr>
          <% end %>
         
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info" id="datatables-dashboard-projects_info" role="status" aria-live="polite">Showing 1 to 6 of 9 entries</div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-projects_paginate">
        <ul class="pagination">
          <li class="paginate_button page-item previous disabled" id="datatables-dashboard-projects_previous"><a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
          <li class="paginate_button page-item active"><a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
          <li class="paginate_button page-item "><a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
          <li class="paginate_button page-item next" id="datatables-dashboard-projects_next"><a href="#" aria-controls="datatables-dashboard-projects" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Номер процедуры</th>
              <th>Наименование организации</th>
              <th>Имя тендера</th>
              <th>Город</th>
              <th>Сайт</th>
              <th>ФИО</th>
              <th>E-mail</th>
              <th>Телефон</th>
              <th>Факс</th>
            </tr>
          </thead>
          <tbody>
          <%= for tender <- @tenders do %>
            <tr>
              <td><%= tender.tender_id %></td>
              <td><%= tender.org_name %></td>
              <td><%= tender.tender_name %></td>
              <td><%= tender.city %></td>
              <td><%= tender.site %></td>
              <td><%= tender.contact_person %></td>
              <td><%= tender.email %></td>
              <td><%= tender.phone %></td>
              <td><%= tender.fax %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>





<%= for tender <- @tenders do %>
  <div><%= tender.tender_id %></div>
  <div><%= tender.org_name %></div>
  <div><%= tender.city %></div>
  <div><%= tender.site %></div>
  <div><%= tender.contact_person %></div>
  <div><%= tender.email %></div>
  <div><%= tender.phone %></div>
  <div><%= tender.fax %></div>
<% end %>
-->
