<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Crawler", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
   
    <link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/images/spider.png") %>" sizes="180x180">
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/spider.png") %>" sizes="32x32" type="image/png">
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/spider.png") %>" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/spider.png") %>" color="#7952b3">
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/spider.png") %>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="background-color: #323c47!important;">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"><img src="<%= Routes.static_path(@conn, "/images/spider.png") %>  " alt="Crawler" height="40px"/> Crawler</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
        
      </ul>
    </header>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse" style="position: fixed;">
          <div class="position-sticky pt-2">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/card">
                <span data-feather="home"></span>
                Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Integrations
                </a>
              </li>
            </ul>
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Фильтры</span></h5>

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A list item
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A second list item
                <span class="badge bg-primary rounded-pill">2</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A third list item
                <span class="badge bg-primary rounded-pill">1</span>
              </li>
            </ul>

            <div class="list-group">
              <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Статус</span></h5>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Новый
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                В работе
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Работа завершена
              </label>
            </div>

            <div class="list-group">
              <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Назначена</span></h5>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Владимир Владимирович
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Борис Николаевич
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Михаил Сергеевич
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Леонид Ильич
              </label>
            </div>


            <ul class="nav flex-column mb-2">
              
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
          
          <%= @inner_content %>
        </main>
      </div>
    </div>
    
  </body>
</html>